menu {
    background: rgb(246, 213, 0);
    padding: 0;
    margin: 0;
    display: flex;
    font-size:large;
}


menu ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

menu ul li a {
    display: flex;
    color:  #191919;
    text-decoration: none;
    padding: 10px 30px;
}

menu ul li a:hover{
    background-color: rgb(171, 148, 0);
}